@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.bg-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #272B33;
    min-height: 100vh;
    text-align: center;
}

.nav-logo {
    width: 70px;
    height: 54px;
}

nav {
    height: 3%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 5px 20px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    color: #616161;
    font-weight: 700;
}

.a-button {
    background-color: #FBC02D;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #FEF1DB;
    border-radius: 7px;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 15px;
}

.card {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
}

.body-logo {
    width: 52%;
    min-height: 196px;
}

.body-text {
    color: #FBC02D;
    font-size: 40px;
    margin-top: 4px;
}

button {
    padding: 10px 40px;
    background-color: #272B33;
    color: #272B33;
    background-color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.images-container {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    margin: 50px 0px;
}

.each-card {
    width: 19%;
    height: 590px;
    border-radius: 6px;
    padding: 15px 12px 15px 12px;
    margin-bottom: 30px;
    background: linear-gradient(#fff 60%, #3C3E44 40%);
    text-align: center;
    overflow: visible;
    position: relative;
}

.each-image {
    width: 68%;
    height: 63%;
    transition: transform 0.7s ease-out;

}

.each-image:hover {
    transform-origin: center;
    transform: scale(1.3);
}

.img-details {
    text-align: left;
    margin: 5px 0px 0px 0px;
}

.def-clr {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: 3px 0px 3px 0px;
}

.custom-clr {
    color: #FBC02D;
    font-size: 17px;
}

.text-title {
    font-size: 20px;
    margin-bottom: 4px;
}